<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzUxNDAwNTk0MQ==&action=getalbum&album_id=1708249854717526017#wechat_redirect">健康营养</a>
        <a class="page-link" href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzUxNDAwNTk0MQ==&action=getalbum&album_id=2679158701706002433#wechat_redirect">事业机会</a>
        <a class="page-link" href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzUxNDAwNTk0MQ==&action=getalbum&album_id=1708248415014289409#wechat_redirect">情感博客</a>
        <a class="page-link" href="https://mp.weixin.qq.com/mp/appmsgalbum?__biz=MzUxNDAwNTk0MQ==&action=getalbum&album_id=3950017545632923649#wechat_redirect">我的故事</a>
      </div>
    </nav>
  </div>
</header>