<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title | default: 'Untitled Post' | escape }}",
  "datePublished": "{{ page.date | default: 'now' | date_to_xmlschema }}",
  {% if page.modified_date %}
  "dateModified": "{{ page.modified_date | date_to_xmlschema }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ page.author.name | default: site.author.name | default: 'xiaoyarap' | escape }}"
    {% if page.author.url %}
    ,"url": "{{ page.author.url | escape }}"
    {% elsif site.author.url %}
    ,"url": "{{ site.author.url | escape }}"
    {% endif %}
  },
  "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  },
  "description": "{{ page.excerpt | default: site.description | strip_html | escape }}"
}
</script>