<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'zh-CN' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | escape }}">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <title>{{ page.title }} | 小亚说</title>
</head>
<body>
  {% include header.html %}
  <div class="blog-container">
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>
